<div >
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="" routerLinkActive="active" class="navbar-brand">
            <img src="/assets/logo.png" />
          </a>
        </div>
        <div class="col-md-6">
          <!--Termo de pesquisa é uma variavel de referencia-->
          <input type="text" class='form-control' placeholder="Pesquise por ofertas ..." #termoDaPesquisa (keyup)="pesquisa(termoDaPesquisa.value)"/>
          <div class="list-group" style="position: absolute;">
            <!--Poderia deixar o ngFor como oferta of ofertas async ele retorna só quando o evento estiver pronto-->
            <button type="button" class="list-group-item list-group-item-action " aria-current="true" *ngFor='let oferta of ofertas2' #teste (mouseover)="mouseIn(teste)" (mouseleave)="mouseOut(teste)" (click)="limparPesquisa()"[routerLink]="['/oferta',oferta.id]">
              {{oferta.titulo| desc_reduzida}}
            </button>
          </div>
  
        </div>
        <div class="col-md-2">
          <a a href="#"><img src="/assets/carrinho.png" /></a>
        </div>
      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/divercao">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>